@import '../styles/_variables.css';

.grid {
  display: grid;
  gap: calc(var(--spacer) * 2);
  max-width: 40rem;
  margin-top: calc(var(--spacer) * 2) auto var(--spacer) auto;
}

@media screen and (min-width: 640px) {
  .grid > div:first-child {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: calc(var(--spacer) * 2);
    border-radius: var(--border-radius);
    border-top: 1px solid var(--brand-black);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media screen and (min-width: 1140px) {
  .grid {
    max-width: 70rem;
    text-align: left;
    grid-template-columns: 2fr 1fr;
  }
}

.header {
  margin-bottom: calc(var(--spacer) * 2);
  text-align: center;
}

.header svg {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 1140px) {
  .header {
    text-align: left;
  }

  .header svg {
    margin-left: 0;
    margin-right: 0;
  }
}

.title {
  margin-top: var(--spacer);
  font-size: var(--font-size-h2);
}

@media screen and (min-width: 640px) {
  .title {
    font-size: var(--font-size-h1);
  }
}

.header a,
.description {
  font-size: var(--font-size-large);
}

.description {
  color: var(--brand-grey-lighter);
}
