@import '../styles/_variables.css';

.header {
  width: 100%;
  margin-top: var(--spacer);
}

.title {
  margin-top: var(--spacer);
  font-size: var(--font-size-h2);
}

@media screen and (min-width: 640px) {
  .title {
    font-size: var(--font-size-h1);
  }
}

.description {
  font-size: var(--font-size-large);
  color: var(--brand-grey-lighter);
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.header svg {
  width: 80px;
  height: 80px;
}
