@import '../styles/_variables.css';

.add {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.title {
  font-size: var(--font-size-base);
  color: var(--brand-grey-lighter);
  margin-bottom: calc(var(--spacer) / 2);
  margin-top: 0;
  text-align: left;
}

.error {
  font-size: var(--font-size-small);
  color: var(--red);
  margin-top: var(--spacer);
}
