.dropzone {
  border: 0.2rem dashed var(--brand-grey-light);
  border-radius: calc(var(--border-radius) * 2);
  padding: calc(var(--spacer) * 2) var(--spacer);
  transition: 0.2s ease-out;
  cursor: pointer;
  text-align: center;
}

.dropzone:hover,
.dropzone:focus,
.dropzone:active {
  border-color: var(--brand-grey-lighter);
  outline: 0;
}

.dragover {
  composes: dropzone;
  border-color: var(--brand-pink);
}

.disabled {
  composes: dropzone;
  border-color: var(--brand-grey-dark);
  pointer-events: none;
}

.error {
  font-size: var(--font-size-small);
  color: var(--red);
}

.dropzone p {
  text-align: center;
  margin-bottom: 0;
  color: var(--brand-grey-light);
}
