@import '../styles/_variables.css';

.info {
  font-size: var(--font-size-small);
  text-align: left;
}

.info h2 {
  font-size: var(--font-size-large);
  color: var(--brand-grey-light);
}

.info code {
  font-size: 90%;
}
